.container{
    padding: 30px;
    margin: 0 auto;
    width: 30%;
    height: max-content;
    margin-top: 60px;
    background-color: rgba(136, 175, 254, 0.4);
    border-radius: 15px;   
    box-shadow: 0 0 20px rgb(0, 0, 0); 
}