.module{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    border: 0;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 0 0 20px rgb(46, 46, 46); 
}

.toDoListItem{
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(233, 249, 254);
    box-shadow: 0 0 10px rgb(139, 145, 147);
  }