.item {
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  background-color: rgb(193, 229, 239);
  box-shadow: 0 0 10px rgb(139, 145, 147);
}

.itemCompleted {
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  background-color: rgb(207, 236, 219);
  box-shadow: 0 0 10px rgb(139, 145, 147);
}

.itemContent {
  display: inline;
  color: black;
  margin-left: 15px;
}

.itemContentCompleted {
  display: inline;
  color:rgb(155, 153, 153);
  margin-left: 15px;
}

.deleteBtn {  
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 20px;
  width: 20px;
  height: 17px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(239, 233, 233);
  box-shadow: 0 0 3px rgb(255, 101, 101);
}

.completedBtn {
  float: inline-start;
  margin-top: 5px;
  border-radius: 20px;
  width: 20px;
  height: 17px;
  background-color: rgb(254, 254, 254);
  border: solid 1px rgb(204, 236, 218);
  box-shadow: 0 0 3px rgb(177, 204, 182);
}

.deleteBtn:hover {
  box-shadow: 0 0 7px rgb(253, 57, 57);
  background-color: rgb(242, 235, 235);
}

.completedBtn:hover {
  box-shadow: 0 0 6px rgb(38, 193, 69);
  background-color: rgb(225, 238, 228);
  ;
}